---
layout: default
body_class: "home-template user"
---

{% include header.html %}
<div class="page-content">
  <div class="wrapper">
    <div class="home">
      {% for post in paginator.posts %}
      <article class="{%comment%}post_class{%endcomment%}">
        {% if post.image %}
        <div class="image-holder show">
          <a href="{{ post.permalink | prepend: site.baseurl | prepend: site.github.url }}" class="inner" style="background-image: url('{{ post.image | prepend: site.github.url }}');">
            <img src="{{ post.image | prepend: site.github.url }}">
          </a>
        </div>
        {% endif %}
        <div class="meta">
          <time datetime="{{ post.date | date: '%Y-%m-%d' }}">
            <a href="{{ post.permalink | prepend: site.baseurl | prepend: site.github.url }}">
              {{ post.date | date: "%d de " }}
              {% assign m = post.date | date: "%-m" %}
              {% case m %}
                {% when '1' %}Janeiro
                {% when '2' %}Favereiro
                {% when '3' %}Março
                {% when '4' %}Abril
                {% when '5' %}Maio
                {% when '6' %}Junho
                {% when '7' %}Jullho
                {% when '8' %}Agosto
                {% when '9' %}Setembro
                {% when '10' %}Outubro
                {% when '11' %}Novembro
                {% when '12' %}Dezembro
              {% endcase %}
              {{ post.date | date: " de %Y" }}
            </a>
          </time>
        </div>
        <header>
          <h1><a href="{{ post.permalink | prepend: site.baseurl | prepend: site.github.url }}">{{ post.title }}</a></h1>
        </header>
        <div class="text">
          <p>{{ post.excerpt }}</p>
          <a href="{{ post.permalink | prepend: site.baseurl | prepend: site.github.url }}" class="readmore">Continue lendo</a>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</div>
{% include pagination.html %}
{% include footer.html %}
